<div class="container">
    <div class="row">
        <h1 class="text-center my-3">View Contact Details</h1>
        <div class="col-6">
            <!-- View details -->
            <ul class="list-group list-group-flush my-3">
                <li class="list-group-item">Full Name: {{contact.name}}</li>
                <li class="list-group-item">Email : {{contact.email}}</li>
                <li class="list-group-item">Mobile : {{contact.phone}}</li>
                <li class="list-group-item">Company : {{contact.company}}</li>
                <li class="list-group-item">Title : {{contact.title}}</li>
                <li class="list-group-item">Group : {{groupName}}</li>

              </ul>
              <!-- redirect to main page -->
              <button routerLink="/" class="btn btn-outline-dark my-5 ms-3">BACK TO HOME</button>
        </div>
        <div class="col-6">
            <!-- image -->
            <img width="500px" height="500px" [src]="contact.phoneurl" alt="">

        </div>
    </div>
</div>
